--extra-index-url https://alpine-wheels.github.io/index

contexttimer==0.3.3
django-cors-headers==3.1.1
django-extensions==2.2.6
django-querycount==0.7.0
django==2.2.15
gunicorn==20.0.0
pandas==1.3.1
PyYAML==5.3.1
scaife-viewer-atlas @https://github.com/scaife-viewer/backend/archive/ca6d3652ae12d98e642b8d3b41c9415ccd18c3ce.zip#subdirectory=atlas
whitenoise==4.1.4
