contexttimer==0.3.3
django-cors-headers==3.1.1
django-extensions==2.2.6
django-querycount==0.7.0
django==2.2.15
gunicorn==20.0.0
PyYAML==5.3.1
scaife-viewer-atlas @https://github.com/scaife-viewer/backend/archive/6587d637ed0f964613d73a99f52c0b004fad4e88.zip#subdirectory=atlas
whitenoise==4.1.4
