--extra-index-url https://alpine-wheels.github.io/index

beautifulsoup4==4.10.0
contexttimer==0.3.3
django-cors-headers==3.1.1
django-extensions==2.2.6
django-querycount==0.7.0
django==2.2.15
gunicorn==20.0.0
pandas==1.3.1
requests==2.26.0
scaife-viewer-atlas @https://github.com/scaife-viewer/backend/archive/4bf633a54e378225ad076cd6b6c40081332d63ab.zip#subdirectory=atlas
whitenoise==4.1.4
