lexicon {
    font-size: 1.2rem;
    line-height: 1.3;
}
header {
    display: block;
    background-color: #369;
    max-width: 512px;
    margin: 0 auto;
    padding: 0.5rem;
    color: #DEF;
}
title {
    display: block;
}
title::before {
    content: "Title: ";
    font-weight: bold;
}
editor {
    display: block;
}
editor::before {
    content: "Editor: ";
    font-weight: bold;
}
date {
    display: block;
}
date::before {
    content: "Date: ";
    font-weight: bold;
}

text {
    display: block;
}
body {
    display: block;
    max-width: 512px;
    margin: 50px auto;
    color: red;
}
XE, FE, AE, VE, NE {
    display: block;
    color: #333;
    text-indent: -1ch;
    margin-left: 1ch;
    padding-inline: 0.5rem;
}
RefFm {
    font-weight: bold;
}
RefFm::after {
    font-weight: normal;
    content: ': ';
}
RefFm > Hm, Ref > Hm, HL > Hm {
    font-weight: normal;
    font-size: 70%;
    line-height: 1;
    position: relative;
    vertical-align: baseline;
    top: -0.5em;    
}
RefFm > LblR {
    font-weight: normal;
}
RefFm > LblR::before {
    content: ' (';
}
RefFm > LblR::after {
    content: ')';
}
Ref::before {
    content: ' ';
}
Ref::after {
    content: ' ';
}
Ety > Ref::before {
    content: '';
}
Ety > Ref::after {
    content: '';
}
Qualif::before {
    content: ' ';
}
Qualif + Def::before {
    content: ', ';
}
Def::after {
    content: '; ';
}
HL {
    font-weight: bold;
}
PS {
    font-style: italic;
}
PS::after {
    content: '.';
}
XE > HG::after {
    content: ': ';
}

vS1, aS1, nS1 {
    counter-increment: sense;
    display: block;
    text-indent: 0;
}
vS1:not(:only-of-type)::before, aS1:not(:only-of-type)::before, nS1:not(:only-of-type)::before {
    content: counter(sense) ' ';
    font-family: sans-serif;
    font-weight: bold;
    font-size: 90%;
}
FG::before, FG::after {
    content: ' | ';
}

Indic::before {
    content: ' (';
}
Indic::after {
    content: ') ';
}
ital {
    font-style: italic;
}
Tr {
    font-weight: bold;
}
Tr::before, Tr::after {
    content: ' ';
}
Lbl::before, Lbl::after {
    content: ' ';
}
Form::before, Form::after {
    content: ' ';
}
Expl {
    font-weight: normal;
}
Expl::before {
    content: ' (';
}
Expl::after {
    content: ') ';
}
Def > Expl::after {
    content: ')';
}
Extra::before {
    content: ' [';
}
Extra::after {
    content: '] ';
}
Au {
    font-family: sans-serif;
    font-size: 90%;
}
Au > Wk {
    font-family: serif;
    font-size: 100%;
    font-style: italic;
}
Au::before, Au::after {
    content: ' ';
}
hyph::before {
    content: '-';
}

HL + DL::before {
    content: ', ';
}
DL::after {
    content: ', ';
}
Lbl + FmHL::before {
    content: ' ';
}
FmHL {
    font-weight: bold;
}
Ety::before {
    content: ' [';
}
Ety::after {
    content: '] ';
}
GLbl {
    font-variant: small-caps;
}
GLbl::after {
    content: ' ';
}
Infl::before {
    content: ' ';
}
Infl::after {
    content: ' ';
}
PS::before {
    content: ' ';
}
FG Au::before {
    content: ' (';
}
FG Au::after {
    content: ') ';
}
LBL {
    font-variant: small-caps;
}
Vc::before {
    content: '|| ';
}
and::before {
    font-variant: normal;
    content: ' and ';
}
Obj::before, Cmpl::before {
    content: ' —';
}
Obj {
    font-style: italic;
}
Obj > * {
    font-style: normal;
}
ModVb::before {
    content: ' —';
}
ModVb {
    font-style: italic;
}
ModVb > * {
    font-style: normal;
}
vSGrm::before {
    content: ' || ';
}
RelW, Adv {
    display: block;
}
RelW::before, Adv::before {
    content: '—';
}
VInfl::before {
    content: ' (';
}
VInfl::after {
    content: '), ';
}
VInfl > Lbl::before {
    content: '';
}
DInfl::before {
    content: ' ';
}
Cit {
    display: none;
    /* display: inline;
    color: #999;
    font-size: 80%; */
}
Ann {
    display: none;
    /* display: block;
    background: #EEE;
    color: #666;
    font-size: 80%;
    text-indent: 0;
    padding: 0.2rem 0.5rem;
    line-height: 1.1; */
}
